LOCATE COMP "clk_25mhz" SITE "P3";
LOCATE COMP "btn0" SITE "P2";
LOCATE COMP "uart_tx" SITE "P1";

IOBUF PORT "clk_25mhz" IO_TYPE=LVCMOS33;
IOBUF PORT "btn0" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
